.authorization__password {
  margin-bottom: 216px;
  width: 358px;
  padding-bottom: 13px;
  border: none;
  background-color: black;
  color: #fff;
  border-bottom: 2px solid #ccc;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 900px) {
  .authorization__password {
    margin-bottom: 173px;
    width: 260px;
    padding-bottom: 13px;
  }
}
